Repository milvus-io/milvus-sdk-go, pull requests merged in 2023-12, with the labels that each got.

#628 Skip output invalid field case
  test/testcases/query_test.go
  test/testcases/search_test.go
Labels: lgtm, approved, ci-passed, size/L, test/ci

#632 feat: support enabling mmap for collection
  entity/collection_attr.go
Labels: lgtm, approved, size/S, ci-passed

#635 Revert "feat: support enabling mmap for collection (#632)"
  entity/collection_attr.go
Labels: lgtm, approved, size/S, ci-passed

#639 Fix: case error msg change
  test/testcases/search_test.go
Labels: lgtm, approved, ci-passed, size/XS, test/ci

#641 test:update case due to default index name change
  test/testcases/collection_test.go
  test/testcases/highlevel_test.go
  test/testcases/index_test.go
  test/testcases/search_test.go
Labels: lgtm, approved, ci-passed, size/M, test/ci

#642 Update mergify rules branch to regexp
  .github/mergify.yml
Labels: kind/enhancement, lgtm, approved, size/S, ci-passed, kind/workflow

#643 enhance: setup ci image to milvus 2.3
  .github/workflows/test-ci.yaml
Labels: lgtm, approved, ci-passed, size/XS, kind/workflow

#644 enhance: Bump proto & SDK version to v2.3.4
  client/client_mock_test.go
  common/common.go
  go.mod
  go.sum
  mocks/MilvusServiceServer.go
Labels: lgtm, approved, ci-passed, size/L, kind/improvement
