Repository milvus-io/milvus-sdk-go, pull requests merged in 2023-02, with the labels that each got.

#391 Add collection search cases
  test/base/milvus_client.go
  test/common/response_check.go
  test/common/utils.go
  test/testcases/delete_test.go
  test/testcases/flush_test.go
  test/testcases/main_test.go
  test/testcases/search_test.go
Labels: lgtm, approved, ci-passed, size/XL, test/ci

#392 Support get bulk insert progress
  entity/bulkinsert.go
Labels: lgtm, approved, size/S, ci-passed, kind/improvement

#405 Skip some search cases for knowhere 2.0 error changed
  test/testcases/search_test.go
Labels: lgtm, approved, ci-passed, size/XS, kind/improvement, test/ci

#400 add `WithCollectionProperties` option and support the back field name for `PKs2Expr`
  client/client_grpc_collection.go
  client/client_grpc_data.go
  client/client_grpc_options.go
Labels: lgtm, approved, size/S, ci-passed, kind/improvement

#382 Add compact test cases
  test/base/milvus_client.go
  test/common/utils.go
  test/testcases/compact_test.go
  test/testcases/configure_test.go
  test/testcases/delete_test.go
  test/testcases/flush_test.go
  test/testcases/insert_test.go
  test/testcases/load_release_test.go
  test/testcases/main_test.go
  test/testcases/query_test.go
  test/testcases/search_test.go
Labels: lgtm, approved, ci-passed, size/L, kind/improvement, test/ci
