Repository milvus-io/milvus-sdk-go, pull requests merged in 2024-09, with the labels that each got.

#814 test: update test cases
  test/testcases/groupby_search_test.go
  test/testcases/index_test.go
  test/testcases/load_release_test.go
Labels: lgtm, approved, ci-passed, size/L, test/ci

#815 test: fix compact and groupby caes for 2.5 feature
  test/testcases/compact_test.go
  test/testcases/groupby_search_test.go
Labels: lgtm, approved, ci-passed, size/L, test/ci

#817 test: Update ci server image to 2.4 and update cases
  .github/workflows/test-ci.yaml
  test/testcases/groupby_search_test.go
  test/testcases/index_test.go
  test/testcases/insert_test.go
  test/testcases/load_release_test.go
Labels: kind/enhancement, lgtm, approved, ci-passed, size/M

#813 feat: add page retain order
  entity/index.go
  entity/index_test.go
Labels: lgtm, approved, size/S, ci-passed

#823 enhance: Support embedded struct field as Row input
  entity/rows.go
  entity/rows_test.go
Labels: lgtm, approved, ci-passed, size/M

#821 test: update case to check output dynamic key
  test/common/response_check.go
  test/testcases/query_test.go
Labels: lgtm, approved, size/S, ci-passed, test/ci

#822 test: [cherry-pick] update case to check output dynamic key
  test/common/response_check.go
  test/testcases/insert_test.go
  test/testcases/query_test.go
Labels: lgtm, approved, ci-passed, size/M, test/ci

#824 enhance: [2.4] Support embedded struct field as Row input (#823)
  entity/rows.go
  entity/rows_test.go
Labels: kind/enhancement, lgtm, approved, ci-passed, size/M

#825 test:update dynamic row insert case
  test/testcases/insert_test.go
Labels: lgtm, approved, size/S, ci-passed, test/ci

#827 feat: Support unmarshal resultset into orm receiver
  client/data.go
  client/results.go
  client/results_test.go
  test/testcases/groupby_search_test.go
Labels: lgtm, approved, ci-passed, size/L, kind/feature
